<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>DLC 分布式日志搜集系统 - 标签墙</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
<link href="/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

<link href="/css/animate.min.css" rel="stylesheet">
<link href="/css/style.min.css?v=4.0.0" rel="stylesheet">
<base target="_blank">

</head>

<body class="gray-bg">
    <h2 class="logo-name" style="margin:0 auto; width:600px; height:180px;">D - L - C</h2>
	<div class="row">
		<div class="col-sm-12">
			<div class="wrapper wrapper-content animated fadeInUp">
				<ul class="notes">
					<li>
						<div>
							<h4>资源占用少</h4>
							<p>日志的记录过程，和常规日志的记录没多大区别，唯一有较大消耗的，是Lucene的索引文件需要占用磁盘空间，如果对占用磁盘空间敏感，或者对日志的长期保存没有严格要求，可以设定索引过期时间，超期的索引会被删除。整个方案是可以不需要额外的服务器软硬件资源进行部署的.</p>
						</div>
					</li>
					<li>
						<div>
							<h4>部署简单</h4>
							<p>本方案只需要开发一个单独的代理模块和应用部署在一起即可，另外就是查询界面，可以根据需要集成在相应的系统中即可，比如监控系统等.</p>
						</div>
					</li>
					<li>
						<div>
							<h4>灵活性强</h4>
							<p>可以根据需要，在日志配置文件中进行灵活的配置，可以配置记录哪些项目，什么格式等，查询界面也可以灵活地定制，根据需要以适应具体的业务场景.</p>
						</div>
					</li>
					<li>
						<div>
							<h4>开发学习简单</h4>
							<p>本方案中需要学习的技术不多，只需要熟悉Ignite和Lucene的开发即可，查询界面可以根据需要而定，没有严格要求.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script src="/js/jquery.min.js?v=2.1.4"></script>
	<script src="/js/bootstrap.min.js?v=3.3.5"></script>
	<script src="/js/content.min.js?v=1.0.0"></script>
</body>

</html>